body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
#head{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 100;
}
.container-fluid{
padding: 3% 15% 7%;
/* padding-bottom: 150px */
}
/* .rotate{
/* -ms-transform: rotate(120deg); IE 9 */
/* transform: rotate(30deg);
height: 70%;
} */ 
.navbar-brand{
    font-family: ubuntu;
    font-size: 1.5rem;
  
    
}
p{
    color: gray;
}
.navbar{
    padding:0 0 4.5rem ;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
   font-size: 1.2rem;
   font-family: 'Montserrat-light', sans-serif;
}
/* downlaos button */
.download-button{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
  
     position: absolute; 
     right: 30%;
} 

.des{
    color: #8f8f8f;
}
#features{
    margin:7% 15%;
    margin-top: 0;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}
.head{
    font-family: 'Montserrat-Bold', sans-serif;
    padding-top: 20px;
    font-weight: 800;
    text-align: center;
}
/* .col-lg-4{
    justify-content: center;
    text-align: center;
    text-align: justify;
   
} */
.des{
    text-align: center;
}
.icon{
    color: #ef8172;
}
.icon:hover {
    color:#ff4c68
}

/* testimonial section */

#testimonials{

text-align: center;
background-color: #ef8172;
color: #fff;
}
/* h2{
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 780;
    font-size: 3rem;
    line-height: 1.5;
} */
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* press section */
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 15px;
}
/* pricing
 */
 /* .pricing-card{
     /* text-align: center; */
     /* padding-left: 10%;
     padding-right: 10%; */
 /* } */ 
 #pricing{
     padding: 100px;
     text-align: center;
 }
 .pricing-column{
     padding: 3% 2%;

 }
 @media (max-width:1028px)
 {
     .title-image{
         transform: rotate(0);
         position: static;
     }
     #title{
         text-align: center;
     }
 }
 #cta{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 10%;
 }
 .cta{
    font-family: 'Montserrat', sans-serif;
    
    color: #fff;
    font-size: 3.7rem;
    line-height: 1.5;
    font-weight: 100;
    padding: 5% 8% 5%;
 }
 /* footer */
 #footer{
     margin-top: 10%;
     text-align: center;
 }